<!doctype html>
  <html
    class="no-js max-w-full overflow-x-hidden !h-auto"
    lang="{{ request.locale.iso_code }}"
    data-headings-size="{{ settings.headings_size }}"
    data-headings-case="{{ settings.headings_case }}"
    data-headings-line-height="{{ settings.headings_line_height }}"
  >
  <head>{% include "shopneyappbanner" %}
  <meta name="apple-itunes-app" content="app-id=1485000328>
{% include 'kiwiSizing' %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    <link rel="preconnect" href="https://ajax.googleapis.com" crossorigin>

    {%- unless settings.body_font.system? -%}
      <link rel="preload" as="font" href="{{ settings.body_font | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}
    {%- unless settings.headings_font.system? -%}
      <link rel="preload" as="font" href="{{ settings.headings_font | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}

    <link rel="preload" href="{{ 'theme.css' | asset_url }}" as="style">
    
    <link rel="modulepreload" href="{{ 'theme.min.js' | asset_url }}">

    {%- if canonical_url != blank -%}
      <link rel="canonical" href="{{ canonical_url }}">
    {%- endif -%}

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    {%- liquid
      render 'seo-title'
      render 'social-meta'
      render 'fonts'
      render 'css-variables'
      render 'essential-css'
    -%}

    {{ content_for_header }}

    <script>document.documentElement.className = document.documentElement.className.replace('no-js', 'js');</script>
  
  {% render 'qikify-apps' %}

 <!--begin-boost-pfs-filter-css-->
   
 <!--end-boost-pfs-filter-css-->

 

 <!--begin-boost-pfs-filter-css-->
   
 <!--end-boost-pfs-filter-css-->

 
<!-- GSSTART Slider code start. Do not change -->{% if product.id > 1 %}
<script type="text/javascript" src="https://gravity-software.com/js/shopify/slider_shop10242.js?v=2a0800da7e824f1c879e9f7288117d5a"></script> <link rel="stylesheet" href="https://gravity-software.com/js/shopify/rondell/jquery.rondellf10242.css?v=2a0800da7e824f1c879e9f7288117d5a"/> 
 {% if product.variants.size > 1 %}<script>
gsSliderDefaultV = "{{ product.selected_or_first_available_variant.id }}";
var variantImagesByVarianName = {};
var variantImagesByVarianNameMix = {};
 var variantImagesGS = {},
    thumbnails,
    variant,
    variantImage,
    optionValue,
    cntImages;
    productOptions = [];
    cntImages = 0;
    {% for variant in product.variants %}
       variant = {{ variant | json }};
       if ( typeof variant.featured_image !== 'undefined' && variant.featured_image !== null ) {
         variantImage =  variant.featured_image.src.split('?')[0].replace(/http(s)?:/,'');
         variantImagesGS[variant.id] = variantImage;
         variantImagesByVarianName[variant.option1] = variantImage;
var variantMixName = "";
if(variant.option1 != null) {
variantMixName = variant.option1;
}
	 if(variant.option2 != null) {
		variantImagesByVarianName[variant.option2] = variantImage;
		variantMixName = variantMixName + ";gs;" + variant.option2;
	 }
         if(variant.option3 != null) {
                variantImagesByVarianName[variant.option3] = variantImage;
		variantMixName = variantMixName + ";gs;" + variant.option3;
         }

if(variantMixName != "") {
variantImagesByVarianNameMix[variantMixName] = variantImage;
}

         cntImages++;
       }
    {% endfor %}
                if(cntImages == 0) {
          variantImagesGS = undefined;
                }
</script> {% endif %}
<script>

var imageDimensionsWidth = {};
var imageDimensionsHeight = {};
var imageSrcAttr = {};
var altTag = {};  

var mediaGS = [];  
  var productImagesGS = [];
var productImagesGSUrls = [];
{% for image in product.images %}
  var productImageUrl = "{{ image.src }}";
  var dotPosition = productImageUrl.lastIndexOf(".");
  productImageUrl = productImageUrl.substr(0, dotPosition);
  productImagesGS.push(productImageUrl);
  imageDimensionsWidth[{{ image.id }}] = "{{ image.width }}";
  imageDimensionsHeight[{{ image.id }}] = "{{ image.height }}";
  altTag[{{ image.id }}] = "{{ image.alt | replace: '\"', '"' | replace: '"', '\"' | strip | strip_newlines }}";
  imageSrcAttr[{{ image.id }}] = "{{ image.src }}";
  productImagesGSUrls.push("{{ image.src | img_url: '240x' }}");
{% endfor %}

{%- for media in product.media -%}
    {% case media.media_type %}
	{% when "image" %}                           
                           var mediaObjectGS ={id: "{{ media.image.id  }}", mediaType:"{{ media.media_type }}", previewImgURL:"{{ media.image.src | img_url: "240x" }}", previewImg:"{{ media.image.src }}", tag:"{{ media.image.src | img_url: "240x" }}"};  
            mediaGS.push(mediaObjectGS);
    {% when "video" %}
              var productImageUrl = "{{ media.preview_image }}";
  var dotPosition = productImageUrl.lastIndexOf(".");
  productImageUrl = productImageUrl.substr(0, dotPosition);                     
  var mediaObjectGS ={id: "{{ media.id }}", mediaType:"{{ media.media_type }}", width: "{{ media.preview_image.width }}", height: "{{ media.preview_image.height }}", previewImgURL:"{{ media.preview_image | img_url: "500x" }}", previewImg:"" + productImageUrl +  "", tag:'{{ media | video_tag: controls: true }}'};                                  
            mediaGS.push(mediaObjectGS);                                
	{% when "external_video" %}                
              var productImageUrl = "{{ media.preview_image }}";
  var dotPosition = productImageUrl.lastIndexOf(".");
  productImageUrl = productImageUrl.substr(0, dotPosition);                     
            var mediaObjectGS ={id: "{{ media.id }}", mediaType:"{{ media.media_type }}", width: "{{ media.preview_image.width }}", height: "{{ media.preview_image.height }}", previewImgURL:"{{ media.preview_image | img_url: "500x" }}", previewImg:"" + productImageUrl +  "", tag:'{{ media | external_video_tag }}'};                                  
            mediaGS.push(mediaObjectGS);
    {% endcase %}
{%- endfor -%}      
                    

</script>

{% endif %}<!-- Slider code end. Do not change GSEND -->
{% render 'delivery_coder' %} </head>

  {%- liquid
    assign disable_animation_class = ''
    unless settings.enable_animations
      assign disable_animation_class = ' disable-animation'
    endunless
  %}

  <body class="template-{{ request.page_type | handle }} bg-page text-base font-body max-w-full overflow-x-hidden !h-auto{{ disable_animation_class }}">
    {{ 'theme.css' | asset_url | stylesheet_tag }}
    {{ 'custom.css' | asset_url | stylesheet_tag }}
    {%- if settings.custom_css != blank -%}
      <style>
        {{ settings.custom_css }}
      </style>
    {%- endif -%}

    {% liquid
      section 'section-announcement-bar'
      section 'section-merge-filter'
      section 'section-size-merge-filter'
      section 'header'
      section 'engine-quick-search'
    %}

    {%- capture extra_classes -%}
      {%- if template.name contains 'cart' -%}
        cart-wrap
      {%- endif -%}
    {%- endcapture -%}

    <main
      class="main-content{{ extra_classes | prepend: ' ' }}"
      role="main"
      tabindex="-1"
      data-template-type="{{ request.page_type | handle }}"
    >
      {{ content_for_layout }}
    </main>

    {% section 'footer' %}

    {% section 'toast' %}
    {% if settings.custom_badges or settings.product_card_badges %}
      {% section 'engine-badges-settings' %}
    {% endif %}

    <script>
      window.variantStrings = {
        addToCart: `{{ 'products.product.add_to_cart' | t }}`,
        added: `{{ 'products.product.added' | t }}`,
        adding: `{{ 'products.product.adding' | t }}`,
        soldOut: `{{ 'products.product.sold_out' | t }}`,
        isSoldOut: `{{ 'products.product.is_sold_out' | t }}`,
        unavailable: `{{ 'products.product.unavailable' | t }}`,
        isUnavailable: `{{ 'products.product.is_unavailable' | t }}`,
        choose: `{{ 'products.product.choose' | t }}`,
        chooseVariant: `{{ 'products.product.choose_variant' | t }}`,
      }
    </script>

    <script type="module" src="{{ 'theme.min.js' | asset_url }}"></script>

   {% include 'smile-initializer' %}


 <!--begin-boost-pfs-js-->
   
 <!--end-boost-pfs-js-->

 <!--begin-boost-pfs-js-->
   
 <!--end-boost-pfs-js-->

<!-- **BEGIN** Hextom QAB Integration // Main Include - DO NOT MODIFY -->
    {% render 'hextom_qab_main', product: product, customer: customer %}
    <!-- **END** Hextom QAB Integration // Main Include - DO NOT MODIFY -->
{% comment %} <!-- Power Tools view count code --> {% endcomment %}
{% if template contains 'product' %}
    <script type="text/javascript">
        (function () {
            var oldonload = window.onload;
            window.onload = function(){
                var scr = document.createElement("script");
                scr.setAttribute('async', 'true');
                scr.type = "text/javascript";
                scr.src = "//ping.powertoolsapp.com/ping/{{ shop.permanent_domain }}/{{ product.id }}?weight=1{% if collection %}&collection_id={{ collection.handle }}{% endif %}";
                ((document.getElementsByTagName('head') || [null])[0] || document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
                if(oldonload){oldonload()}};
        }());
    </script>
{% endif %}

{% render 'upsellify-offers' %}


</body>
  </html>